@model List<CategoryDTO>
<div class="row">
    <h3>@Model[0].Name</h3>
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    @*<p class="card-text">Son Güncellenme Tarihi :<strong> @item.UpdatedAt.ToShortDateString()</strong></p>
                    <a  asp-controller="Category" asp-action="GetCategories" asp-route-id="@item.Id" class="btn btn-primary">Kategorileri Getir</a>*@
                    <a onclick="RemoveCategory(@item.Id)" class="btn btn-danger">Sil</a>
                </div>
            </div>
        </div>
    }
</div>

