@model List<SourceDTO>
@{ if (Model.Count > 0)
    {
        <div class="author-area-pro" id="source_list_container" style="margin-top:25px">
            <div class="container-fluid">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="margin-bottom:25px;">
                            <div class="personal-info-wrap">
                                <div class="row">
                                    <div class="col-md-12">

                                        <img src="~/images/@item.Image" alt="@item.Name" width="100%" />
                                    </div>
                                </div>
                                <div class="widget-text-box">
                                    <h4>@item.Name.ToUpper()</h4>
                                    <ul style="color:white;">
                                        @if (!String.IsNullOrEmpty(item.URL))
                                        {
                                            <li><b>Link : </b>@item.URL</li>
                                        }
                                        <li><b>Toplam kategori sayısı : </b>@item.Categories.Count()</li>
                                        <li><b>Eklenme Tarihi : </b>@item.InsertedAt</li>
                                        <li><b>Güncellenme Tarihi : </b>@item.UpdatedAt</li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-right like-love-list" style="margin-top:10px;margin-bottom:20px;">
                                                <button data-toggle="tooltip" data-placement="left" title="Sil" onclick="RemoveSource(@item.Id)" class="pd-setting-ed btn btn-danger" data-original-title="Trash" style="float:right;"><i class="fas fa-trash-alt"></i></button>
                                                <button data-toggle="tooltip" data-placement="left" title="Düzenle" onclick="EditSourceView(@item.Id, '@item.Name.Trim()', '@item.Image.Trim()')" class="pd-setting-ed btn btn-success" style="float:right;"><i class="fas fa-edit"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p style="margin-left:30px;color:white;">Kaynak kaydı bulunmamaktadır.</p>
    }
}