
@model List<SourceDTO>
<div class="product-status mg-b-30" id="source_list_container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Kaynak Listesi</h4>
                    <div class="add-product">
                        <a onclick="AddSourceView(this)" id="add_view_source_button" class="btn btn-primary"><i class="far fa-plus-square mr-2"></i><span cla>Kaynak Ekle</span></a>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <th>Görsel</th>
                                <th>Kaynak İsmi</th>
                                <th>Eklenme Tarihi</th>
                                <th>Son Güncellenme Tarihi</th>
                                <th style="text-align:center;">Ayarlar</th>
                            </tr>
                            @foreach (var item in Model)
                            {

                                string name = string.Empty;
                                @if (!string.IsNullOrEmpty(item.Name))
                                {
                                    name = item.Name.Length >= 20 ? item.Name.Substring(0, 20) + "..." : item.Name;
                                }

                                <tr>
                                    <td><img src="@item.Image" alt="@name"></td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.Name))
                                        {
                                            @if (item.Name.Length >= 30)
                                            {
                                                <span> @item.Name.Substring(0, 30) ...</span>
                                            }
                                            else
                                            {
                                                <span> @item.Name</span>
                                            }
                                        }
                                    </td>
                                    <td>@item.InsertedAt.ToShortDateString()</td>
                                    <td>@item.UpdatedAt.ToShortDateString()</td>
                                    <td style="text-align:center;">
                                        <button data-toggle="tooltip" data-placement="left" title="İncele" onclick="DetailsSource(@item.Id)" class="pd-setting-ed btn btn-warning" data-original-title="Trash"><i class="fas fa-eye"></i></button>
                                        <button data-toggle="tooltip" data-placement="left" title="Düzenle" onclick="GetEditSourceView(this,@item.Id)" class="pd-setting-ed btn btn-success"><i class="fas fa-edit"></i></button>
                                        <button data-toggle="tooltip" data-placement="left" title="Sil" onclick="RemoveSource(@item.Id)" class="pd-setting-ed btn btn-danger" data-original-title="Trash"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Önceki</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Sonraki</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





